@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Nunito&display=swap');

/*
font-family: 'Michroma', sans-serif;
font-family: 'Nunito', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.studio_container{
    background-image: url(../images/studio.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.background_img{
    background-image: url(../images/background.webp);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

#submitted_form{
    height: 500px;
    background-image: url(../images/contact_background.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.main_form{
    height: 700px;
    background-image: url(../images/contact_background.webp);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    /* creating grid section */
    display: grid;
    grid-template-columns:repeat(3, 1fr);

    text-align: left;
}

#lesson_container{
    background-image: url(../images/lessons_sheetmusic.webp);
    background-position: center;
    background-size: cover;
    margin: 150px 10% 150px 10%;
    border:#002851 2px solid;
    border-radius: 5px;
}

.drum_pic{
    background-image: url(../images/Drums.webp);
    background-position: center;
    background-size: cover;
}

.bass_pic{
    background-image: url(../images/bass.webp);
    background-position: center;
    background-size: cover;
}

.guitar_pic{
    background-image: url(../images/guitar.webp);
    background-position: center;
    background-size: cover;
}

.keys_pic{
    background-image: url(../images/keys.webp);
    background-position: center;
    background-size: cover;
}

.background_colour{
    background-color: #E6F4F1;
}


header{
    position: fixed;
    top: 0;
    font-family: 'Michroma', sans-serif;
    width: 100%;
    background-color: #002851;
    color: #E6F4F1;
    max-height: 100px;
    z-index: 1;
}

.title{
    float: left;
    margin-left: 20px;
    color: #E6F4F1;
    text-decoration: none;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}

#nav li{
    float: right;
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
    line-height: 100px;
}

#nav a{
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
}

#nav a:hover{
    color: #E09F20;
}

#nav a.active_page{
    font-weight: bolder;
    font-size: larger;
    color: #E09F20;
}

/* Hamburger Menu */

#hamburger-input{
    display: none;
}

#hamburger-menu {
    position: fixed;
    visibility: hidden;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: linear-gradient(
      to bottom, 
      #E6F4F1, #E6F4F1 20%, 
      #002851 20%, #002851 40%, 
      #E6F4F1 40%, #E6F4F1 60%, 
      #002851 60%, #002851 80%, 
      #E6F4F1 80%, #E6F4F1 100%
    );
}

#sidebar-menu {
    position: fixed;
    visibility: hidden;
    top: 0;
    right: 0;
    width: 175px;
    height: 100%;
    background-color: #002851;
    transition: 0.3s;
    padding: 0px;
    box-sizing: border-box;
    border-left: #E6F4F1 4px solid;
}

#sidebar-menu li{
    line-height: 50px;
    list-style-type: none;
    text-align: right;
    padding-right: 25px;
}

#sidebar-menu a{
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
}

#sidebar-menu a:hover{
    color: #E09F20;
}

#sidebar-menu a.active_page{
    font-weight: bolder;
    font-size: larger;
    color: #E09F20;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
}

@media only screen and (max-width: 804px) {
    #hamburger-menu{
        visibility: visible;
    }

    #nav{
        visibility: hidden;
    }

    .title{
        font-size: 25px;
    }
}


/* Footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #002851;
}

#media_links{
    text-align: center;
}

#media_links li{
    display: inline;
}

#media_links a{
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
    line-height: 75px;
    margin: 25px;
}

#media_links i{
    font-size: x-large;
}

/* Home/about page */

.about h2{
    position: absolute;
    width: 100%;
    top: 150px;
    text-align: center;
    color: #002851;
    animation: font 3s;
    animation-fill-mode: forwards;
}

@keyframes font {
  from {font-size: 100%;}
  to {font-size: 300%;}
}

.about_content{
    width: 100%;
    padding-top: 250px;
    text-align: center;
    padding-bottom: 100px;
}

.about_content p{
    box-sizing: border-box;
    background-color: #5E8FC2;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    padding: 25px;
    border-radius: 5px;
}


/*Contact form section*/

form{
    position: relative;
    top: 100px;
    padding: 50px 10% 150px 10%;
}

.main_form, .main_form > legend{
    text-align: center;
    padding: 5px;
    border: #002851 2px solid;
    border-radius: 5px;
}



.main_form > legend{
    background-color: #5E8FC2;
}

legend{
    padding: 5px;
}

.form_section{
    padding: 10%;
}

hr{
    margin-bottom: 10px;
}

.form_section input{
    margin-bottom: 10px;
}

#submitted_form, #submitted_form > legend{
    text-align: center;
    padding: 5px;
    border: #002851 2px solid;
    border-radius: 5px;
}



#submitted_form > legend{
    background-color: #5E8FC2;
}

/* Media queries for grid columns on contact us form */

@media only screen and (max-width: 1250px) {
    .main_form{
        height: 1100px;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: 300px;
    
        text-align: left;
    }
}

@media only screen and (max-width: 930px) {
    .main_form{
        height: 1700px;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(3,325px);
    
        text-align: left;
        padding-bottom: 0;
    }
}

/* Styling for Lesson and Prices grid section */



.lessons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 0.75fr 1fr);
    grid-column-gap: 25px;
    padding: 0 25px 25px 25px;
}

#lesson_header{
    grid-area: 1 / 1 / span 1 / span 3;
    text-align: center;
    border: none;
    background-color: transparent;
    grid-row: 150px;
}

#price_header{
    grid-area: 3 / 1 / span 1 / span 3;
    text-align: center;
    border: none;
    background-color: transparent;
    grid-row: 150px;
}

.lessonh2{
    background: linear-gradient(to right, transparent, #E6F4F1, transparent);
}

.lessons > .boxes{
    text-align: center;
    padding: 0 25px;
    border: #002851 2px solid;
    border-radius: 5px;
    background-color: #5E8FC2;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
    
}

@media only screen and (max-width: 850px) {
    .lessons{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(4, 0.75fr, 1fr, 1fr, 1fr);
        row-gap: 25px;
    }

    #lesson_header{
        grid-area: 1 / 1 / span 1 / span 1;
        text-align: center;
        border: none;
        background-color: transparent;
        grid-row: 150px;
    }

    #price_header{
        grid-area: 5 / 1 / span 1 / span 1;
        text-align: center;
        border: none;
        background-color: transparent;
        grid-row: 150px;
    }

    .media{
        grid-template-columns: 1,1fr;
    }
}

/* Instruments Page tab styling */

.tab_container{
    margin: 165px 10% 150px 10%;
}

.tab{
    float: left;
}

.tab label{
    position: relative;
    background: #5E8FC2;
    border: #002851 2px solid;
    margin-left: -1px;
    min-width: 20vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 5px;
    padding: 10px;
}

.tab [type=radio]{
    display:none;
}

.content{
    position: absolute;
    visibility: hidden;
    top: 200px;
    bottom: 150px;
    left: 10%;
    width: 80%;
    border:#002851 2px solid;
    border-radius: 5px;
    padding: 2.5%;
    overflow: auto;
}

#scroll{
    width: 100%;
    text-align: center;
}

#scroll span{
    background-color: #002851;
    color: #E6F4F1;
    padding: 5px;
    border-radius: 5px;
}

.content p{
    box-sizing: border-box;
    background-color: rgba(224, 159, 32, 0.9);
    width: 70%;
    margin-left: 15%;
    margin-top: 25px;
    padding: 25px;
    border-radius: 5px;
    color: #002851;
}

#retailers{
    text-align: center;
}


.shop_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30%;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    margin-left: 10%;
    margin-right: 10%;
}


.shop_link{
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background-color: #E6F4F1;
	border-radius:5px;
	border:2px solid #002851;
	cursor:pointer;
	color: #002851;
	padding:10px 20px;
	text-decoration:none;
}

.shop_link:hover {
	background:linear-gradient(to bottom, #5E8FC2 5%, #89b3df 100%);
	color: #1c1b18;
}
.shop_link:active {
	position:relative;
	top:1px;
}




.media{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    margin-top: 25px;

}

.tab [type=radio]:checked ~ label {
    background: #E09F20;
    color: #002851;
}

.tab [type=radio]:checked ~ label ~ .content {
    visibility: visible;
}

@media only screen and (max-width: 850px) {
    .media{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        row-gap: 10px;
    }
}