@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Nunito&display=swap');

/*
font-family: 'Michroma', sans-serif;
font-family: 'Nunito', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

header{
    position: fixed;
    top: 0;
    font-family: 'Michroma', sans-serif;
    width: 100%;
    background-color: #002851;
    color: #E6F4F1;
    max-height: 100px;
    z-index: 1;
}

.title{
    float: left;
    margin-left: 20px;
    color: #E6F4F1;
    text-decoration: none;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
}

#nav li{
    float: right;
    margin-right: 20px;
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
    line-height: 100px;
}

#nav a{
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
}

#nav a:hover{
    color: #E09F20;
}

#nav a.active_page{
    font-weight: bolder;
    font-size: larger;
    color: #E09F20;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #002851;
}

#media_links{
    text-align: center;
}

#media_links li{
    display: inline;
}

#media_links a{
    list-style-type: none;
    text-decoration: none;
    color: #E6F4F1;
    line-height: 75px;
    margin: 25px;
}

#media_links i{
    font-size: x-large;
}

/*Contact form section*/

form{
    position: relative;
    top: 100px;
    padding: 50px 10% 150px 10%;
}

.main_form, .main_form > legend{
    text-align: center;
    padding: 5px;
    border: #002851 2px solid;
    border-radius: 5px;
}

.main_form{
    height: 700px;
    background-image: url(/assets/images/contact_background.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;

    /* creating grid section */
    display: grid;
    grid-template-columns:repeat(3, 1fr);

    text-align: left;
}

.main_form > legend{
    background-color: #5E8FC2;
}

legend{
    padding: 5px;
}

.form_section{
    padding: 10%;
}

hr{
    margin-bottom: 10px;
}

.form_section input{
    margin-bottom: 10px;
}

#submitted_form, #submitted_form > legend{
    text-align: center;
    padding: 5px;
    border: #002851 2px solid;
    border-radius: 5px;
}

#submitted_form{
    height: 500px;
    background-image: url(/assets/images/contact_background.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

#submitted_form > legend{
    background-color: #5E8FC2;
}

/* Media queries for grid columns on contact us form */

@media only screen and (max-width: 1250px) {
    .main_form{
        height: 1100px;
        display: grid;
        grid-template-columns:repeat(2, 1fr);
        grid-template-rows: 300px;
    
        text-align: left;
    }
}

@media only screen and (max-width: 930px) {
    .main_form{
        height: 1700px;
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(3,325px);
    
        text-align: left;
        padding-bottom: 0;
    }
}

/* Styling for Lesson and Prices grid section */

.lessons{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 0.5fr 1fr);
    padding: 5% 10%;
    grid-column-gap: 25px;
}

#lesson_header{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    border: none;
    background-color: transparent;
    grid-row: 150px;
}

.lessons > div{
    text-align: center;
    padding: 0 25px;
    border: #002851 2px solid;
    border-radius: 5px;
    background-color: #5E8FC2;
    box-shadow: inset;
}